In [39]:
import datetime
import pandas as pd
import numpy as np
import requests

In [53]:
#xTrain = pd.read_csv("xTrain.csv")
yTrain = pd.read_csv("yTrain.csv")
#xTest = pd.read_csv("xTest.csv")
yTest = pd.read_csv("yTest.csv")

In [55]:
#xTrain.rename(columns={'Unnamed: 0':'datetime'}, inplace=True)
#xTest.rename(columns={'Unnamed: 0':'datetime'}, inplace=True)
yTrain.rename(columns={'Unnamed: 0':'datetime'}, inplace=True)
yTest.rename(columns={'Unnamed: 0':'datetime'}, inplace=True)

In [25]:
dt_start = datetime.datetime.strptime(xTrain['datetime'][len(xTrain)-1], '%Y-%m-%d %H:%M:%S')
dt_end = datetime.datetime.strptime(xTest['datetime'][0], '%Y-%m-%d %H:%M:%S')
diff = dt_end-dt_start
tot_hours = diff.days*24+diff.seconds/3600+1
timeframe = pd.date_range(start=str(dt_start), end=str(dt_end), periods=tot_hours)

In [36]:
row = xTrain.loc[[len(xTrain)-1]]
for dt in timeframe:
    row['datetime'] = dt
    xTrain = xTrain.append(row, ignore_index=True)

433   2020-11-16 20:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-16 21:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-16 22:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-16 23:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 01:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 02:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 03:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 04:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 05:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 06:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 07:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 08:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 09:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 10:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 11:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 12:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 13:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 14:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 15:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 16:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 17:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 18:00:00
Name: datetime, dtype: datetime64[ns]
433   2020-11-17 19:00:00
Name: datetime, dtype: datetime64[ns]

In [37]:
xTrain

,datetime,list,summary,2020,new,big,online,another,facebook,biden,...,young,moving,calling,executives,hill,possibly,meant,drive,mask,system
0,2020-10-29 19:00:00,0,0,0,0,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-10-29 20:00:00,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-10-29 21:00:00,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,2020-10-29 22:00:00,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2020-10-29 23:00:00,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,2020-11-17 15:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,2020-11-17 16:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
455,2020-11-17 17:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456,2020-11-17 18:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
457,2020-11-17 19:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
APIKey = "442ONKXSVHA79170"  # redact in submissions
APIbase = "https://www.alphavantage.co/query"

def rqstStockTSDataDaily(sym):
    r = None
    tries = 0
    maxTries = 10
    while not r and tries < maxTries:
        r = requests.get(APIbase, params={"function": "TIME_SERIES_DAILY", "symbol": sym, "outputsize": "full", "apikey": APIKey})
        tries += 1

    if not r:
        raise ValueError("Something unexpected happened.")

    return r.json()["Time Series (Daily)"]

def getTSDataDaily(stockDat, t):
    try:
        e = stockDat[t.strftime("%Y-%m-%d")]
        return {"open": round(float(e["1. open"]), 2),
                "close": round(float(e["4. close"]), 2),
                "high": round(float(e["2. high"]), 2),
                "low": round(float(e["3. low"]), 2),
                "volume": int(e["5. volume"])}
    except KeyError:
        return False

def getTSDataDailyForceSuccessFuture(stockDat, t, maxFail):
    y = getTSDataDaily(stockDat, t)
    i = 0
    while not y:
        t += datetime.timedelta(days=1)
        y = getTSDataDaily(stockDat, t)
        i += 1
        if i == maxFail:
            return False

    return (t, y)

In [41]:
dailyDat = rqstStockTSDataDaily("FB")
hourlyStock = dict.fromkeys(timeframe)
for t in timeframe:
    result = getTSDataDailyForceSuccessFuture(dailyDat, t, 1000)
    hourlyStock[t] = result[1]["close"] - result[1]["open"]
#hourlyStock = {str(k):v for k,v in hourlyStock.items()}

In [58]:
row_y = yTrain.loc[[len(yTrain)-1]]
for dt in timeframe:
    row_y['datetime'] = dt
    row_y['stock_change'] = hourlyStock[dt]
    yTrain = yTrain.append(row_y, ignore_index=True)

In [60]:
X = xTrain.append(xTest, ignore_index=True)
Y = yTrain.append(yTest, ignore_index=True)

In [62]:
X.to_csv('X.csv', index=False)
Y.to_csv('Y.csv', index=False)